body {
    font-family: 'Impact',monospace;
    min-height: 400px;
    background-image: url('');
    background-size: 210vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00022e
  }
  
  .container {
    text-align: center;
    padding: 120px;
    height: 90vh;
    color:white;
  }
  
  .page-title {
    color:#0089ff;
    margin: 0 0 7px;
    font-size: 40px;
  }
  
  .page-subtitle {
    color:#0089ff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 150px;
    margin-top: 18px;
    background: #404040;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  input {
    padding: 6px;
    border-radius: 12px;
  }
  
  button {
    padding: 8px 30px;
    border-radius: 18px;
  }
  
  #resultado{
    color:#0089ff;
  }
  
  